<h1>Update a User</h1>
<%= form_with model: @user do |f| %>
  <%= f.text_field :name, placeholder: "Enter your name" %><br>
  <%= f.text_field :email, placeholder: "Enter your email" %><br>
  <%= f.text_field :password, placeholder: "Enter your password" %><br>
  <%= f.submit "Edit User" %>
<% end %>